__pycache__/
.python-version
.DS_Store
.env
.venv
.ruff_cache/
.mypy_cache/
.pytest_cache/
docs/_build/
outputs/
.idea/
tmp/
# Distribution / packaging
dist/
build/
develop-eggs/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
*/*.egg-info/
src/*.egg-info/
.installed.cfg
*.egg
*/*.egg